body{
    background-color:rgb(187, 226, 187);
}


.p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size: 20px;
    margin-left: 160px;
    line-height: 26px;
    color:rgb(11, 81, 54);
}


.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-weight:bolder;
    color: black;
    
}

.h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 80px;
    margin-top: 5px;
    font-weight:bolder;
    color: black;
    
}

.p1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size: 20px;
    margin-left: 160px;
    line-height: 26px;
    color:rgb(4, 48, 32);
}
img{
    width: 350px;
    margin-left: 160px;
}

.verse{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
    font-size: 25px;
    margin-left: 160px;
    line-height: 20px;
    color:rgb(4, 48, 32);


}

.end{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:600;
    font-size: 15px;
    line-height: 25px;
    color:rgb(4, 48, 32);
}
}